@import url("https://use.typekit.net/tah0pes.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  @apply bg-[#f2f2f2] w-[300px] md:w-[350px] z-10 h-screen fixed top-0 left-0 transition-transform ease-in duration-300 md:duration-500;
}

.homepage{
 @apply transition-transform ease-in duration-700 md:duration-700;
}

.sidebar--isHidden {
  transform: translateX(calc(-100% + 12px));
}
.homepage--isHidden {
    transform: translateX(250px);
  }

@media screen and (min-width: 768px) {
    .homepage--isHidden {
        transform: translateX(330px);
      }
    
}
@media screen and (min-width: 1024px) {
    .homepage--isHidden {
        transform: translateX(300px);
      }
    
}



.highlight {
  position: relative;
  background-origin: 0;
  background-size: 200% 100%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 1.2s ease-out;
  background-image: linear-gradient(to right, transparent 50%, #2bbcdc 50%);
  padding: 4px 0px;
}
.highlightKey {
  position: relative;
  background-origin: 0;
  background-size: 200% 100%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 1.2s ease-out;
  background-image: linear-gradient(to right, transparent 50%, #ade0eb 50%);
  padding: 4px 0px;
}
em {
  font-style: normal;
}

.highlight.shown {
  position: relative;
  background-origin: 0;
  background-size: 200% 90%;
  background-repeat: repeat-x;
  background-position: -100% 100%;
  transition: background-position 0.8s ease-out;
}

.highlightKey.shown {
  position: relative;
  background-origin: 0;
  background-size: 200% 90%;
  background-repeat: repeat-x;
  background-position: -100% 100%;
  transition: background-position 0.8s ease-out;
}

.highlight-walker {
  background-image: linear-gradient(to right, transparent 50%, #ade0eb 50%);
}

.highlightKey-walker {
  background-image: linear-gradient(to right, transparent 50%, salmon 50%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 2s ease-out;
}
.selected-shadow:hover {
  box-shadow: 0px 0px 20px 0px #007089;
}
.selected {
  color: #007089;
}
